@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway:ital,wght@1,500&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-boxs;
    width: 100vw;
}
.header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    justify-content: space-between;
    align-items: space-between;
    right: 0;
    width: 100vw;
    height: 80px;
}

.header a{
    text-decoration: none;
    color: #000;
}

.header__img{
    display:flex;
    flex-direction: row;   
    filter: drop-shadow(1px 1px 2px #fff) drop-shadow(1px 1px 2px #fff); 
    margin: 10px;
    width: 60px;
    height: 60px;
}

.header__img-nombre{
    font-weight: bolder;
}

/*MENU DE OPCIONES*/
.header__menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    margin-top: 0;
    background-color: #ffffff98;
    width: 100vw;
    height:100vh;

}

.header__menu li{
    list-style: none;
    padding: 15px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    transition: .8s;
}

.header__menu li a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: rgba(236, 0, 0, 0.719);
}

.header__menu li a{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.header__img-nombre{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

/*BOTON DE MENU*/
.header__nomMenu{
    position: absolute;
    right: 0;   
    font-size: 23px;
    margin: 15px;
    transition: color 0.5s ease;
    filter: drop-shadow(1px 1px 2px #fff) drop-shadow(1px 1px 2px #fff);
}

.header__nomMenu:hover{
    cursor: pointer;
    text-decoration: underline; 
    transform: scale(1.1);   
    color: coral;
}

/*BOTON DE CIERRE*/
.header__btnceirre{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 50px;
    margin: 10px;
    transition: .8s;
    z-index: 2000;
}

.header__btnceirre:hover{
    cursor: pointer;
    transform: scale(1.2);
}

/*ACCIONES DE JS PARA ABRIR Y CERRAR EL MENU*/

.header__menu-esconder{
    transform: translateY(-100%)
}
.header__btnceirre-esconder{
    transform: translateY(-150%);
}

/* SECCION1 */
.section1{
    padding-top: 20%;
}

/* BANNER PRINCIPAL */
.bannerPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/img8.jpg);
    background-attachment: fixed;
}
.bannerPrincipal__titulo1, .bannerPrincipal__titulo2{
    text-align: center;
}
.bannerPrincipal__titulo1{
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;    
    margin: 0px 110px;
    padding: 20px;    
    margin: 30px;
}
.bannerPrincipal__titulo1 h2, .bannerPrincipal__titulo1 h3{
    text-shadow: 2px 2px 2px #000;
}
.bannerPrincipal__titulo2{
    color: #fff;
    font-size: 20px;
}
.bannerPrincipal p{
    color: rgb(0, 0, 0);
    text-align: center;  
    font-size: 20px;  
    font-family: 'Raleway', sans-serif;    
}
.btn{
    background-color: red;
    border: none;
    padding: 10px;
    border-radius: 20px;       
    margin: 30px;
    transition: 0.3s;
}

.btn:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.btn-text{
    color: #fff;
    font-family: 'Raleway', sans-serif; 
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

/*SECCIONES*/

.section2, .section3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-seccion{
    font-family: 'Raleway', sans-serif;
    border-bottom: 1px solid #000;
}

.katas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: fill;
    width: 100vw;
}

.kata__explicacion{
    display: flex;
    flex-direction: column;    
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    width: 200px;
    height: 100%;
    margin: 5%;
    transition: 0.5s;    
}

.kata__explicacion:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 2px 2px 10px #000;
}

.kata__explicacion a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.kata__explicacion img{
    width: 100%;    
}

/*SECCION 5*/

.section4 h2{
    font-family: 'Raleway', sans-serif;   
    text-decoration: underline;
    font-size: xx-large;
    text-align: center;
}

.section4 h2:nth-child(2){
    text-decoration: none;
}

.nosotros{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    width: 100%;
}

.nosotros img{
    width: 100%;
    height: 100%;
}

.div1{
    grid-column: 1/2;
    grid-row: 1/2;
}


.div2{
    grid-column: 2/3;
    grid-row: 1/2;
}

.div3{
    grid-column: 1/2;
    grid-row: 2/3;
}

.div4{
    grid-column: 2/3;
    grid-row: 2/3;
}


/*FOOTER*/

.footer__section1{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

/*LOGO*/
.logoFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    width: 50%;
}

.logoFooter img{
    width: 50%;
}

.logoFooter h2{
    text-align: center;
}

/*FORMULARIO*/
.contacto{
    width: 40%;
}


.flex-container{
    margin-top: 0;
    margin-bottom: 40px;
}

.form{
	min-width: 240px;
	flex: 1;
	text-align: center;
	order: 2;/*este es mas chico que el de la imagen para que de esta manera nos quede la imagen a la izquierda y el formulario a la derecha*/
}

.form__input{
	width: 100%;
	margin: 6px 0;
	border: none; /*esto es lo que se recomienda ya que forma parte de un diseño mas actual*/
	background: transparent;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    transition: border-bottom ease 0.5s;
    font-family: 'Antonio', sans-serif;
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.1); 
	margin-bottom: 10px;
}


/*una tecnica que nos puede servir para los input, es un background-color con un linear gradient entre los parentesis se coloca desde donde comienza o hacia donde apunta el gradiente y seguido con que comienza y finalmente con que termina*/
.form__input:focus{
	background: linear-gradient(to bottom, transparent, rgba(255, 0, 0, 0.479));/*esto lo usamos para darle un fondito mas oscuro para cuando nos posicionamos sobre el casillero, asi de esta manera lo podemos visualizar*/
	outline: none;
	color: rgb(255, 255, 255);
	border-bottom: 3px solid rgb(255, 255, 255);
}

.form textarea{
	min-height: 140px;
	color: rgb(255, 255, 255);
	resize: none; /*le sacamos la posibilidad de que se pueda redimencionar*/
}


/*hacemos una seleccion por atributo, no es necesario pero para recordar conceptos*/

.btnForm{
	background-color: rgba(0, 0, 0, 0.829);
    padding: 0px;
    border-radius: 5px;
    color: rgb(255, 0, 0);
    margin-bottom: 30px;
}

.btnForm:hover{
	background-color: rgb(94, 12, 119);
	border-bottom: none;
	padding: 12px;
    cursor: pointer;
    color: #fff;
}

.btnForm:focus{
    background-color: rgb(255, 255, 255);
    color: #fff;
}

.btnForm__submit{
    border: none;
}

/*DERECHO DE PRIVACIDAD*/
.derechos{
    background-color: #000;
    color: #fff;
    text-align: center;
}

.derechos a{
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.derechos a:hover{
    color: coral;
    text-decoration: underline;
    cursor: pointer;
}

.ubicacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ubicacion h2{
    font-family: 'Antonio', sans-serif;
    text-decoration: underline;
}

.ubicacion iframe{
    width: 90%;
    height: 500px;
}

/*POLITICAS DE PRIVACIDADA*/
.contenedor{
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    width: 100vw;
    height: 400vh;
    z-index: 1000;
    overflow: auto;
}

.contenedor__salir{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border-radius: 50%;
    top: 10px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #000;
    z-index: 1500;
}

.volver{
    transform: translateX(-100%);
    transition: 0.8s;
}

.contenedor__salir:hover{
    cursor: pointer;    
    transform: scale(1.04);
}

.contenedor__contratoPrivacidad{
    position: absolute;
    background-color: #000;
    color: #fff;      
    overflow: auto;  
    top: 40px;
    left: 10%;
    width: 80%;
    height: 450px;
}

.contenedor__contratoPrivacidad h2{
    text-align: center;
    font-family: 'Antonio', sans-serif;
    text-decoration: underline;
}
.contenedor__contratoPrivacidad p {
    font-family: 'Antonio', sans-serif;
}

@media (min-width:920px) {
   
   
    /* SECCION1 */
    .section1{
        padding-top: 5%;
    }

    /* BANNER PRINCIPAL */
    .bannerPrincipal{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url(../img/img8.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 70px;
    }

    .bannerPrincipal__titulo1{
        width: 40%;
        height: 100%;
    }

    .bannerPrincipal__titulo1 h2{
        font-size: 40px;
    }

    .bannerPrincipal__titulo1 h3{
        font-size: 30px;
    }



    .btn{
        background-color: red;
        border: none;
        padding: 10px;
        border-radius: 20px;       
        margin: 100px;
        transition: 0.3s;
    }

    .header{
        display: flex;
        justify-content: space-between;
        position: fixed;
        justify-content: space-between;
        align-items: space-between;
        right: 0;
        width: 100vw;
        height: 80px;
    }
    
    .header__img{
        display:flex;
        flex-direction: row;    
        margin: 10px;
        width: 60px;
        height: 60px;
    }
    
    .header__img-nombre{
        font-weight: bolder;
    }
    
    /*MENU DE OPCIONES*/
    .header__menu{        
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        position: relative;       
        right: 0;
        top: 0;  
        height: 50px;              
        background-color: rgba(0, 0, 0, 0);
    }
    
    .header__menu li{  
        filter: drop-shadow(1px 0px 2px #fff) drop-shadow(1px 0px 2px #fff) drop-shadow(1px 0px 2px #fff); 
    }
    
    .header__menu li:hover{
        color: rgb(230, 138, 52);
    }
    
    
    /*BOTON DE MENU*/
    .header__nomMenu{
        display: none;
    }
    
    /*BOTON DE CIERRE*/
    .header__btnceirre{
        display: none;
    }
    
    .header__menu-esconder{
        transform: translateY(0%)
    }
    .header__btnceirre-esconder{
        transform: translateY(0%);
    }

    /*SECCIONES*/

    .kata__explicacion{        
        width: 300px;          
    }

   

    .kata__explicacion a{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #000;
    }

    .kata__explicacion img{
        width: 100%;    
    }

    /*LOGO FOOTER*/
    .logoFooter{
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .logoFooter img{
        width: 20%;
    }

    .ubicacion iframe{
        width: 90%;
        height: 500px;
    }

    .contenedor{
        position: fixed;
        background-color: rgba(0,0,0,0.7);
        width: 100vw;
        height: 400vh;
        z-index: 1000;
    }

    .contenedor__salir{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        border-radius: 50%;
        top: 40px;
        right: 80px;
        width: 40px;
        height: 40px;
        background-color: #fff;
        color: #000;
    }

    .volver{
        transform: translateX(-100%);
        transition: 0.8s;
    }

    .contenedor__salir:hover{
        cursor: pointer;
        transform: scale(1.04);
    }

    .contenedor__contratoPrivacidad{
        position: absolute;
        background-color: #000;
        color: #fff;      
        top: 40px;
        left: 10%;
        width: 80%;
        height: 550px;
    }

    .contenedor__contratoPrivacidad h2{
        text-align: center;
        font-family: 'Antonio', sans-serif;
        text-decoration: underline;
    }
    .contenedor__contratoPrivacidad p {
        font-family: 'Antonio', sans-serif;
    }
}